.seccion {
    padding: 20px; /* Añade algo de espacio dentro de cada sección */
    margin: 10px 0; /* Añade un poco de margen vertical entre secciones */
    color: white; /* Color de texto para contraste */
    text-align: center; /* Centra el texto dentro de cada sección */
}

#seccion1 {
    background-color: #3498db; /* Azul */
    margin: 0;
    padding: 0;
}

#seccion2 {
    background-color: #2ecc71; /* Verde */
    margin: 0;
    padding: 0;
}

#seccion3 {
    background-color: #e74c3c; /* Rojo */
    margin: 0;
    padding: 0;
}

.container-fluid {
    min-height: 100vh; /* 100% de la altura del viewport */
}
.row {
    display: flex;
    
    height: 100%; /* Ocupa el 100% de la altura del contenedor padre */
}

